* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Comic Sans MS";
    background: #9B9B9B;
}

h1 {
    text-align: center;
    margin: 30px 0px 50px 0px;
    font-size: 350%;
}

.row > section {
    background: #FCFCFC;
    border: 1px solid black;
    margin-left: 3%;
    margin-bottom: 3%;
    padding: 10px;
    padding-top: 35px;
    position: relative;
    float: left;
    text-align: justify;
}

.titleRegion {
    position: absolute;
    top: 0;
    right: 0;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    padding: 2px;
    width: 40%;
    text-align: center;
    font-size: 125%;
}

#chicken {
    background-color: #2C2C2C;
    font-weight: bold;
    color: cornsilk;
}

#beef {
    background-color: #C90505;
    font-weight: bold;
}

#sushi {
    background-color: #D49A00;
    font-weight: bold;
}

@media (min-width: 992px) {
    .row > section {
        width: 29.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row > section {
        width: 45.5%;
    }
    #s3 {
       width: 94%; 
    }
}

@media (max-width: 767px) {
    .row > section {
        width: 94%;
    }
}